body {
  font-size: 16px;
  font-family: sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

ul.navbar {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.right_nav {
  list-style-type: none;
}

.navbar li {
  float: left;
}

.right_nav li {
  float: right;
}

.navbar a {
  display: block;
}

.spacer {
  margin: 2em;
}

.add_doc td {
  vertical-align: top;
  padding: 0.3em;
}

.summary td {
  padding: 0.5em;
}

.summary tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.results th {
  text-align: center;
  background-color: #828282;
  color: #f8f8f8;
  padding: 10px 25px;
}

.results tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.results td, th {
  padding: 5px;
}

td.number {
  text-align: right;
}

td.long {
  vertical-align: top;
}

.notification {
  background-color: lightgoldenrodyellow;
  padding: 18px;
  border: 4px yellow;
  border-style: solid;
}
