{% extends 'base.html' %}

{% block title %}
Add Document
{% end %}

{% block body %}
  <h3>Edit Document</h3>
  <div class='spacer'>
    <form enctype='multipart/form-data' action='/edit/{{ url_escape(str(doc.id)) }}' method='POST'>
      {% module xsrf_form_html() %}
      <table class='add_doc'>
        <tr>
          <td colspan='2'><b>Document Information</b></td>
        </tr>
        <tr>
          <td>Title</td>
          <td><input type='text' name='doc_title' style='width:20em;' value="{{ doc.doc_title }}" placeholder='Q4 Important Meeting Minutes' required></td>
        </tr>
        <tr>
          <td>Description</td>
          <td>
            <textarea name='doc_description' rows='4' cols='50'  placeholder="Important minutes from an important meeting - you won't believe agenda item #3!" required>
              {{ doc.doc_description }}
            </textarea>
          </td>
        </tr>
        <tr>
          <td>Source Organization</td>
          <td><input type='text' name='source_org' id='source_org' value="{{ doc.source_org }}" placeholder='Important Commission' required></td>
        </tr>
        <tr>
          <td>Request Tracking Number*</td>
          <td>
            {% if doc.tracking_number %}
              <input type='text' name='tracking_number' value="{{ doc.tracking_number }}" placeholder='00011235813'>
            {% else %}
              <input type='text' name='tracking_number' placeholder='00011235813'>
            {% end %}
          </td>
        </tr>
        <tr>
          <td>Date Requested*</td>
          <td>
            {% if doc.date_requested %}
              <input type='text' class='datepicker' value="{{ doc.date_requested }}" name='date_requested'>
            {% else %}
              <input type='text' class='datepicker' name='date_requested'>
            {% end %}
          </td>
        </tr>
        <tr>
          <td>Date Received*</td>
          <td>
            {% if doc.date_received %}
              <input type='text' class='datepicker' value="{{ doc.date_received }}" name='date_received'>
            {% else %}
              <input type='text' class='datepicker' name='date_received'>
            {% end %}
          </td>
        </tr>
        <tr><td colspan='2'>* optional</td></tr>
        <tr><td colspan='2'>&nbsp;</td></tr>
        <tr>
          <td colspan='2'><b>Submitter Information</b></td>
        </tr>
        <tr>
          <td>Name</td>
          <td>
            {% if doc.uploader_name %}
              <input type='text' name='uploader_name' value="{{ doc.uploader_name }}" placeholder='Anon E. Mous'>
            {% else %}
              <input type='text' name='uploader_name' placeholder='Anon E. Mous'>
            {% end %}
          </td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
            {% if doc.uploader_email %}
              <input type='text' name='uploader_email' value="{{ doc.uploader_email }}" placeholder='anon@example.com'>
            {% else %}
              <input type='text' name='uploader_email' placeholder='anon@example.com'>
            {% end %}
          </td>
        </tr>
        <tr><td colspan='2'>&nbsp;</td></tr>
        <tr>
          <td colspan='2'>
            <input type='submit' value='Submit'>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>

<script type='text/javascript'>
  var org_names = {% raw json_encode(org_names) %};
  $('#source_org').autocomplete({source: org_names});

  $('.datepicker').datepicker();
</script>
{% end %}
