{% extends 'base.html' %}

{% block title %}
{{ region }} Government Document Repository
{% end %}

{% block body %}
    {% if notification %}
        <div class='spacer'>
            <div class='notification'>
                {{ notification }}
            </div>
        </div>
    {% end %}
    <h3>Search</h3>
    <div class='spacer'>
        <form action='/search' method='GET'>
        <input type='text' name='query'>
        <input type='submit' value='Search'>
    </div>
    <h3>Last 10 Uploads</h3>
    <div class='spacer'>
        <table class='results'>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Uploaded On</th>
                    <th>Source Organization</th>
                </tr>
            </thead>
            {% for each_doc in recent_docs %}
                <tr>
                    <td>
                        <a href='/view/{{ url_escape(str(each_doc.id)) }}'>{{ each_doc.doc_title }}</a>
                    </td>
                    <td class='number'>{{ each_doc.date_uploaded.strftime('%Y-%m-%d') }}</td>
                    <td>
                        <a href='/search?{{ urlencode({"query": each_doc.source_org, "search_field": "source_org"}) }}'>{{ each_doc.source_org }}</a></td>
                </tr>
            {% end %}
        </table>
        <br /><br />
        <a href='/search'>See all documents</a>
        <br /><br />
        <a href='/rss/recent'>RSS Feed</a>
    </div>
{% end %}
