{% extends 'base.html' %}

{% block title %}
Organizations of {{ region }} Civic Document Repository
{% end %}

{% block body %}
  <h3>Organizations</h3>
    <div class='spacer'>
      <table class='results'>
        <thead>
        <tr>
          <th>Organization Name</th>
          <th>Document Count</th>
        </tr>
        </thead>
        {% for each_row in org_results %}
        <tr>
            <td><a href='/search?{{ urlencode({"query": each_row[0], "search_field": "source_org"}) }}'>{{ each_row[0] }}<a></td>
          <td class='number'>{{ str(each_row[1]) }}</td>
        </tr>
        {% end %}
      </table>
    </div>
{% end %}
