{% extends 'base.html' %}

{% block title %}
Search {{ region }} Civic Document Repository
{% end %}

{% block head %}
    <script type='text/javascript' src='/static/js/chosen-1.4.2.jquery.min.js'></script>
    <link type='text/css' href='/static/css/chosen.min.css' rel='stylesheet' />
{% end %}

{% block body %}
    <h3>Search Terms</h3>
    <div class='spacer'>
      <form action='' method='GET'>
        {% if query %}
          <input type='text' name='query' value="{{ query }}">
        {% else %}
          <input type='text' name='query'>
        {% end %}
        <input type='submit' value='Search'>
        <select name='search_field' id='search_field' data-placeholder='Search specific field...' class='chosen-select'>
            <option value='' />
            <option value='doc_title'>Document title</option>
            <option value='doc_description'>Document description</option>
            <option value='source_org'>Source organization</option>
            <option value='uploader_name'>Submitter name</option>
        </select>
        {% if offset %}
          <input type='hidden' name='offset' value="{{ str(offset) }}">
        {% else %}
          <input type='hidden' name='offset'>
        {% end %}
      </form>
    </div>
    <br />
    {% if len(matching_docs) == 0 %}
      No results found
    {% else %}
      <h3>Search Results</h3>
      <div class='spacer'>
      <table class='results'>
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Uploaded On</th>
          <th>Source Organization</th>
          <th>Submitter Name</th>
        </tr>
        </thead>
        {% for each_doc in matching_docs %}
        <tr>
          <td><a href='/view/{{ url_escape(str(each_doc.id)) }}'>{{ each_doc.doc_title }}</a></td>
          <td>
          {% set clean_description = bleach.clean(markdown.markdown(each_doc.doc_description), tags=[], strip=True) %}
          {% if len(clean_description) > 30 %}
            {{ clean_description[:30] }}...
          {% else %}
            {{ clean_description }}
          {% end %}
          </td>
          <td class='number'>{{ each_doc.date_uploaded.strftime('%Y-%m-%d') }}</td>
          <td>
            <a href='/search?{{ urlencode({"query": each_doc.source_org, "search_field": "source_org"}) }}'>
              {{ each_doc.source_org }}
            </a>
          </td>
          <td>
            <a href='/search?{{ urlencode({"query": each_doc.uploader_name, "search_field": "uploader_name"}) }}'>
              {{ each_doc.uploader_name }}
            </a>
          </td>
        </tr>
        {% end %}
      </table>
    {% end %}
    <br /><br />
    {% if offset > 0 %}
        <a href='/search?query={{ url_escape(query) }}&offset={{ max(0, offset-20) }}'>&lt; Previous</a>
    {% end %}
    Results {{ str(offset+1) }} to {{ str(offset+len(matching_docs)) }} of {{ str(count) }}
    {% if offset+len(matching_docs) < count %}
        <a href='/search?query={{ url_escape(query) }}&offset={{ str(offset+20) }}'>Next &gt;</a>
    {% end %}
    </div>
    <script type='text/javascript'>
        $('.chosen-select').chosen({allow_single_deselect: true, disable_search_threshold: 5, width: '16em'});

        {% if search_field %}
            $('#search_field').val({% raw json_encode(search_field) %});
            $('#search_field').trigger('chosen:updated');
        {% end %}
    </script>
{% end %}

