{% extends 'base.html' %}

{% block title %}
  {{ doc.doc_title }}
{% end %}

{% block head %}
  {% if authorized %}
    <script type='text/javascript'>
      $(document).ready(function() {
        $('#delete').click(function() {
          var confirm_response = confirm('Are you sure you want to delete? There is no undo.');

          data = {
            'doc_id': {{ doc.id }},
            '_xsrf': '{{ xsrf_token }}',
          };

          if (confirm_response == true) {
            $.ajax({
              'type': 'POST',
              'url': '/delete',
              'data': data,
              'success': function(response) {
                if (response['success']) {
                  window.location = '/';
                }
              }
            });
          }
        });
      });
    </script>
  {% end %}
{% end %}

{% block body %}
  <h3>Document Details</h3>
  <div class='spacer'>
    <table class='summary'>
      <tr>
        <td>Title</td>
        <td>{{ doc.doc_title }}</td>
      </tr>
      <tr>
        <td class='long'>Description</td>
        <td>{% raw bleach.clean(markdown.markdown(doc.doc_description), tags=allowed_tags) %}</td>
      </tr>
      <tr>
        <td>Source Organization</td>
        <td>
          <a href='/search?{{ urlencode({"query": doc.source_org, "search_field": "source_org"}) }}'>
            {{ doc.source_org }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Request Tracking Number</td>
        {% if doc.tracking_number %}
        <td>{{ doc.tracking_number }}</td>
        {% else %}
        <td>&nbsp;</td>
        {% end %}
      </tr>
      <tr>
        <td>Date Requested</td>
        {% if doc.date_requested %}
        <td>{{ doc.date_requested.strftime('%Y-%m-%d') }}</td>
        {% else %}
        <td>&nbsp;</td>
        {% end %}
      </tr>
      <tr>
        <td>Date Received</td>
        {% if doc.date_received %}
        <td>{{ doc.date_received.strftime('%Y-%m-%d') }}</td>
        {% else %}
        <td>&nbsp;</td>
        {% end %}
      </tr>
      <tr>
        <td>Date Uploaded</td>
        <td>{{ doc.date_uploaded.strftime('%Y-%m-%d') }}</td>
      </tr>
      <tr>
        <td>Submitter Name</td>
        <td>
          <a href='/search?{{ urlencode({"query": doc.uploader_name, "search_field": "uploader_name"}) }}'>
            {{ doc.uploader_name }}
          </a>
        </td>
      </tr>
    </table>
    <br /><br />
    {% for each_file in files %}
      <p>
        Download
        {% if each_file == filename %}
            <span class='highlight'>
        {% end %}
        <a href='/file/{{ url_escape(str(doc.id)) }}/{{ url_escape(each_file) }}'>{{ each_file }}</a>
        {% if each_file == filename %}
            </span'>
        {% end %}
      </p>
    {% end %}
  </div>
  {% if authorized %}
    <h3>Management Area</h3>
    <div class='spacer'>
      <a href='/edit/{{ url_escape(str(doc.id)) }}'>Edit Document</a>
      <br /><br />
      <input id='delete' type='button' value='Delete Document' />
    </div>
  {% end %}
{% end %}
